@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

/* Selection Color */
::selection {
	color: #000;
	background: #ccf5ac;
}

/* ScrollBar */
body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background-color: #1b263b;
}

body::-webkit-scrollbar-thumb {
	background-color: #778da9;
	border: 1px solid;
	border-radius: 25px;
}

/* @apply styles */
.nav-active {
	@apply text-gray-600;
}

.hover-effect {
	@apply transform hover:-translate-y-1 hover:text-highlight transition duration-200 ease-in-out;
}
